.row
  #apply.section
    %img{:alt => "Apply", :src => "images/apply_title_03.png"}/

    %p
    Apply!
    Take the leap.
    /Go for it. 
    /Jump.
    /"I think the Force is in you. Force yourself." 
    /No excuses. 
    /Talk does not cook rice. It's time to code. 
    /A journey of a thousand miles must begin with a single step
    /Start here. 
    /Unlock your potential.
    /Time to get serious.
    /Don't think. Do.
    /Do you qualify? 
    /Are you who we want? 
    /Are you a builder? 
    /"I am a builder."
    /Join the makers movement. 
    /Join the builders movement. 
    /Life is short.

    /Submit
    
    /Application will be released August 1.  Submit your information below to be the first to apply. 
      
    /Name
    /Email
    /How did you hear about us? 
    /Where do / did you attend school? 
    /Why are you interested in Code Academy?
    /How do you feel about the time commitment? 
    /How do you feel about the tuition? ( ) High - Here's how we justify: ( ) Just right - Thanks!  ( ) Low - Shit! Let's make it $8K
    /Any other comments or suggestions?
    
    = form_tag send_email_path, {:class => "send_email_form"} do
      %fieldset
        = label "student", "email"
        = text_field "student", "email"
        %br/
      %fieldset
        = submit_tag "Send"
    %img#tweet-title{:alt => "Latest Tweet from @codeacademy" , :src => "images/codeacademy_effects_03.png"}/
    %tweet= tweet
    
    #slideshow
      %ul.slides
        %li
          %img{:alt => "Marsa Alam underawter close up", :height => "320", :src => "images/photos/1.jpg", :width => "620"}/
        %li
          %img{:alt => "Turrimetta Beach - Dawn", :height => "320", :src => "images/photos/2.jpg", :width => "620"}/
        %li
          %img{:alt => "Power Station", :height => "320", :src => "images/photos/3.jpg", :width => "620"}/
        %li
          %img{:alt => "Colors of Nature", :height => "320", :src => "images/photos/4.jpg", :width => "620"}/
      %span.arrow.previous
      %span.arrow.next
