<header>
  <!-- # put the link to the logo image tag here -->
	<nav class="round">
		  <ul>
			<li><%= link_to "Question", '#'  %></li>
			<li><%= link_to "Home", '#'  %></li>
			<li><%= link_to "What", '#'  %></li>
			<li><%= link_to "Why", '#'  %></li>
			<li><%= link_to "Chicago", '#'  %></li>
			<li><%= link_to "Who", '#'  %></li>
			<li><%= link_to "Pricing", '#'  %></li>
			<li><%= link_to "Contact", '#'  %></li>
		  </ul>
		</nav>
  </header>