<div id="sidebar">
  <img src="images/ca_logo_white_03.png" alt="Code Academy" />
  <nav>
		<!-- <li><%= link_to "Question", question_path  %></li> -->
		<li><%= link_to "Home", root_path  %></li>
		<li><%= link_to "What", what_path  %></li>
		<li><%= link_to "Why", why_path  %></li>
		<li><%= link_to "Chicago", chicago_path  %></li>
		<li><%= link_to "Who", who_path  %></li>
		<li><%= link_to "Pricing", pricing_path %></li>
    <li><%= link_to "Contact", contact_path  %></li>
  </nav>
</div>
