!!!
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag "jquery.min.js", "application.js"
  %body
    .container
      = render 'layouts/nav'
      = yield
  = render 'layouts/analytics'
