!!!
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag "jquery.min.js", "application.js"
  %body
    = render 'layouts/nav'
    .container
      / = yield
      = render 'layouts/question'
      = render 'layouts/home'
      = render 'layouts/what'
      = render 'layouts/why'
      = render 'layouts/chicago'
      = render 'layouts/who'
      = render 'layouts/pricing'
      = render 'layouts/contact'
  = render 'layouts/analytics'
