<!DOCTYPE html>

<html>
  <head>
    <title>Code Academy | <%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
	<div class ="container">
	  <header>
	  <!-- # put the link to the logo image tag here -->
		<!-- <nav class="round">
			  <ul>
				<li><%= link_to "What", '#'  %></li>
				<li><%= link_to "Who", '#'  %></li>
				<li><%= link_to "Media", '#'  %></li>
				<li><%= link_to "Contact", '#'  %></li>
			  </ul>
			</nav> -->
	  
	  </header>
	  <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23721772-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

  </script>
</html>