<!DOCTYPE html>

<html>

  <head>
	
    <title><%= title %></title>

    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag "jquery.min.js", "application.js" %>
  </head>

  <body>
	
	<div class ="container">
	
	  <%= render 'layouts/nav' %>
	  
	  <section class="round">
		
	  <%= yield %>
	
	  </section>
	
    </div>

  </body>
    
  <%= render 'layouts/analytics' %>

</html>